[submodule "NotificationMasterAPI"]
	path = NotificationMasterAPI
	url = https://github.com/zodiac0806/NotificationMasterAPI.git
[submodule "ECommons"]
	path = ECommons
	url = https://github.com/zodiac0806/ECommons.git
